
@import url('https://fonts.googleapis.com/css?family=Kodchasan:300,300i,400,400i,700,700i');

*{
  margin: 0;
  border:0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
}
body{
  position: relative;
  max-width: 360px;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}
button{
  color:#ffffff;
  font-weight: 600;
}
#black{
  color: #000000;
  font-weight: 400;
}
h2{
  width: 100vw;
}
header{
  display: inline;;
}
.logo img{
  width: 75%;
  height: auto;
  padding: 2%;
}
.sub-header{
  text-align: center;
  margin-bottom: 1%;
}
#mobile-nav img{
  width: 12%;
  height: auto;
  margin: 10% 0 0 2%;
  vertical-align: top;
}

.top-ruler{
  border: 1px solid #000000;
  width: 96%;
  margin: 0 auto 2%;
}

#settings-modal{
  box-sizing: border-box;
  padding: 10% 2%;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ok-btn{
  border: none;
  padding: 1% 4%;
  background: rgb(24, 159, 2);
}
.ok-btn:hover{
  cursor: pointer;
}
.checklist{
  margin-top: 4%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm-buttons{
  margin-top: 8%;
  width: 100%;
  text-align: center;
}
.set-label{
flex-basis: 5%;
}
.set-checkbox{
flex-basis: 5%;
}
#menu-modal{
  padding-top: 15%;
}
.menu-btn{
  width: 96%;
  height: 10vh;
  background: #ffffff;
  margin: 2%;
  text-align: center;
  color: #000000;
}
.large-btn{
  width: 96%;
  background: #8C2122;
  height: 12vh;
  margin: 0 0 2% 2%;
  text-align: center;
  line-height: 12vh;
}
.large-btn:hover{
  cursor: pointer;
}
.bulletin-board{
  width: 90%;
  min-height: 150px;
  margin: 0 auto 2%;
  /*background: url('../images/cork-board.jpg') no-repeat;*/
  background: #000000;
  background-size: cover;
  border: 5px solid rgb(125, 64, 0);
}
.half-width-btn{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.small-btn{
  flex-basis: 46%;
  background: #8C2122;
  height: 12vh;
  margin-bottom: 2%;
}
.small-btn:hover{
  cursor: pointer;
}
#mobile-nav:hover{
  cursor: pointer;
}
.modal{
  display: none;
  position: fixed;
  top: 1%;
  left: 2%;
  background: rgba(0, 0, 0, 0.78);
  width: 96vw;
  height: 98%;
  color: #ffffff;
  overflow-y: auto;
  box-sizing: border-box;

}
.msg-headline{
  margin: 15% auto;
  width: 96%;
}
.message{
  margin: 5% auto;
  width: 96%;
}
.msg-title{
font-size: 1.5em;
}
.msg-content{
  font-size: 0.5em;
}
.arrow-nav{
  display: block;
  margin: 2% auto;
  width:  96%;
}
.arrow-btn{
  color: #000000;
  font-size: 1.2em;
  line-height: 1.2em;
  background: none;
  border-radius: 5px;
  border: 1px solid #000000;
  padding:0 2% 1% 2%;
}
.arrow-btn:hover{
  cursor: pointer;
}
#next-btn{
  position: absolute;
  bottom: -10%;
  right: 4%;
}
#back-btn{
  position: absolute;
  bottom: -10%;
  left: 4%;
}
#close{
  position: fixed;
  top: 4%;
  right: 6%;
  color: #ffffff;
  background: none;
}
#close:hover{
  cursor: pointer;
}
#onesignal-bell-container.onesignal-reset.onesignal-bell-container-bottom-right{
display:block;
}
#onesignal-bell-container.onesignal-reset .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right{
  right: calc(50vw - 24px) !important;
  bottom: 20px !important;
}
#onesignal-bell-container.onesignal-reset .onesignal-bell-launcher.onesignal-bell-launcher-sm .onesignal-bell-launcher-button{
right: 8px !important;
  bottom: 20px !important;

}
@media only screen and (min-width:360px){
body{
  max-width: 768px;
}


}
@media only screen and (min-width:768px){

  body{
    max-width: 1024px;
  }

}
@media only screen and (min-width:1024px){

  body{
    max-width: 1920px;
  }

}
